{% extends "base.html" %}

{% block title %}
    Campaign Delivery Availability Checker
{% endblock %}

{% block head %}  
    <meta charset="UTF-8">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

	<br/>
    <br/>
    <h1>Availability Checker</h1>
    <hr>

<br />


<div class="container">

                   
                    <form method="post">
                        
                            <div class="row">
                                <div class="col-md-6 col-left">
                        <div class="form-group">
                            <label for="duration"><b>Duration:</b></label>
                            <input type="number" class="form-control" id="duration" name="duration" value="10">
                        </div>
                        <div class="form-group">
                            <label for="startDate"><b>Start Date:</b></label>
                            <input type="text" class="form-control datepicker" id="startDate" name="startDate">
                        </div>
                        <div class="form-group">
                            <label for="endDate"><b>End Date:</b></label>
                            <input type="text" class="form-control datepicker" id="endDate" name="endDate">
                        </div>
                    </div>
                  
                    
                        <div class="col-md-6 col-right">
                        <div class="form-group">
                            <label for="typeOfBuys"><b>Type of Buy:</b></label>
                            <select class="form-control" id="typeOfBuys" name="typeOfBuys">
                                <option value="frequency" selected>Frequency</option>
                            <!--   <option value="sov">SoV</option> -->
                            </select>
                        </div>
                        <div id="additionalInput" class="form-group">
                            <label for="additionalValue"><b>Type of Buy Value:</b></label>
                            <input type="number" class="form-control" id="additionalValue" name="additionalValue" value="1">
                        </div>
                        <button id="loadButton" onclick="loadData()" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                    </form>
    </div>

    <br />

    {% if session.get("avail_table") %}
<div class="container">
    <input type="text" id="searchInput" onkeyup="tableSearch()" placeholder="Search for ids, names and statuses...">
</div>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <h6>Report preview of the first 7 days</h6>
    </div>

    <div class="col-md-6">
        <div class="col-md-12 text-right">
            <a class="btn btn-primary" href="/availability/parmas/download" role="button">Download CSV</a>
        </div>
    </div>
</div>
</div>

<br>
<br>



<div class="container-fluid tbl-container" id="tableContainer">
  
    <div class="row tbl-fixed-avail-table">
        <table class="table-striped table-condensed" id="mainTable">
             <thead>
                                    <tr>
                                        <th class="sortable" onclick="sortTableNum(0)">{{ session.get("col_headers")[0] }}</th>
                                        <th class="sortable" onclick="sortTable(1)">{{ session.get("col_headers")[4] }}</th>
                                        <th class="sortable" onclick="sortTable(2)">{{ session.get("col_headers")[5] }}</th>
                                        <th class="sortable" onclick="sortTable(3)">{{ session.get("col_headers")[6] }}</th>
                                        <th class="sortable" onclick="sortTable(4)">{{ session.get("col_headers")[1] }}</th>
                                        <th class="sortable" onclick="sortTable(5)">{{ session.get("col_headers")[2] }}</th>
                                        <th class="sortable" onclick="sortTableNum(6)">{{ session.get("col_headers")[9] }}</th>
                                        <th class="sortable" onclick="sortTableNum(7)">{{ session.get("col_headers")[10] }}</th>
                                        <th class="sortable" onclick="sortTableNum(8)">{{ session.get("col_headers")[14] }}</th>
                                        <th class="sortable" onclick="sortTableNum(9)">{{ session.get("col_headers")[16] }}</th>
                                        <th class="sortable" onclick="sortTableNum(10)">{{ session.get("col_headers")[17] }}</th>
                                        <th class="sortable" onclick="sortTableNum(11)">{{ session.get("col_headers")[18] }}</th>
                                        <th class="sortable" onclick="sortTableNum(12)">{{ session.get("col_headers")[19] }}</th>
                                        <th class="sortable" onclick="sortTableNum(13)">{{ session.get("col_headers")[20] }}</th>
                                        <th class="sortable" onclick="sortTableNum(14)">{{ session.get("col_headers")[21] }}</th>
                                        <th class="sortable" onclick="sortTableNum(15)">{{ session.get("col_headers")[22] }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in session.get("avail_table") %}
                                        <tr>
                                            <td>{{ item["Screen Id"] }}</td>
                                            <td>{{ item["Commercial ID"] }}</td>
                                            <td>{{ item["District Code"] }}</td>
                                            <td>{{ item["Product"] }}</td>
                                            <td>{{ item["Name"] }}</td>
                                            <td>{{ item["Resolution"] }}</td>
                                            <td>{{ item["Post Code"] }}</td>
                                            <td>{{ item["TV Area"] }}</td>
                                            <td>{{ item["Size"] }}</td>
                                            <td>{{ item["Day 1"] }}</td>
                                            <td>{{ item["Day 2"] }}</td>
                                            <td>{{ item["Day 3"] }}</td>
                                            <td>{{ item["Day 4"] }}</td>
                                            <td>{{ item["Day 5"] }}</td>
                                            <td>{{ item["Day 6"] }}</td>
                                            <td>{{ item["Day 7"] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
        </table>
    </div>

</div>
{% endif %}
<div id="loadingSpinner" class="spinner"></div>
<script>
    function loadData() {
        document.getElementById('tableContainer').style.display = 'none';
        document.getElementById('loadingSpinner').style.display = 'block';
        // Simulate loading data with a delay (e.g., AJAX request)
        function loading(){
            // After data is loaded, display the table again and hide the spinner
            document.getElementById('tableContainer').style.display = 'block';
            document.getElementById('loadingSpinner').style.display = 'none';
        }
        }; // Simulated loading time (2 seconds)
    
</script>

    {% endblock %}
