{% extends "base.html" %}
{% block title %}Campaign Delivery toolkit Home {% endblock %}
{% block content %}
<h1>Campaign Extractor</h1>
<hr>
<h2>Report Summary</h2>
<br>
<div class="container">
    <div class="col-md-12 text-center">
        <h4>Campaign performance</h4>
    </div>
    <br />
    <div class="button-container">


        <a class="btn btn-danger" href="/revenue/under" role="button">
            Campaigns underperforming: {{session.get("camp_under_number")}}
        </a>



        <a class="btn btn-warning" href="/revenue/over" role="button">
            Campaigns overperforming: {{session.get("camp_over_number")}}
        </a>


        <a class="btn btn-success" href="/revenue/target" role="button">
            Campaigns on target: {{session.get("camp_target_number")}}
        </a>


    </div>
</div>
<br />
<br />
<form method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Report preview</h5>
            </div>

            <div class="col-md-6">
                <div class="col-md-12 bg-light text-right">
                    <button type="submit" class="btn btn-primary">Download CSV</button>
                </div>
            </div>
        </div>
    </div>


</form>

<br />
<input type="text" id="searchInput" onkeyup="tableSearch()" placeholder="Search for ids and names...">


    <div class="container tbl-container">
        <div class="row tbl-fixed">
            <table class="table-striped table-condensed" id="mainTable">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)"><a class="btn btn-primary" href=# role="button">Proposal ID </a></th>
                            <th onclick="sortTable(1)"><a class="btn btn-primary" href=# role="button">Proposal Name</a></th>
                            <th onclick="sortTable(2)"><a class="btn btn-primary" href=# role="button">Proposal Line ID</a></th>
                            <th onclick="sortTable(3)"><a class="btn btn-primary" href=# role="button">>Proposal line Name</a></th>
                            <th onclick="sortTable(4)"><a class="btn btn-primary" href=# role="button">Performance</a></th>
                            <th onclick="sortTable(5)"><a class="btn btn-primary" href=# role="button">Start Date</a></th>
                            <th onclick="sortTable(6)"><a class="btn btn-primary" href=# role="button">End Date</a></th>
                            <th onclick="sortTable(7)"><a class="btn btn-primary" href=# role="button">Status</a></th>
                            <th onclick="sortTable(8)"><a class="btn btn-primary" href=# role="button">Type of buy</a></th>
                            <th onclick="sortTable(9)"><a class="btn btn-primary" href=# role="button">Sub type</a></th>
                            <th onclick="sortTable(10)"><a class="btn btn-primary" href=# role="button">>Number of screens</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in session.get("campaign_extractor") %}

                        <tr>
                            <td> <a href="{{session.get("env")}}/proposal_builder.html?id={{item["proposal id"]}}" target="_blank">{{ item["proposal id"] }}</a></td>
                            <td> {{ item["proposal name"] }}  </td>
                            <td> {{ item["PLI ID"] }}  </td>
                            <td> {{ item["PLI Name"] }}  </td>
                            <td> {{ item["Campaign Performance %"] }} </td>
                            <td> {{ item["Start date"] }}  </td>
                            <td> {{ item["End date"] }}  </td>
                            <td> {{ item["PLI Status"] }}  </td>
                            <td> {{ item["TOB"] }}  </td>
                            <td> {{ item["Sub Tyoe"] }}  </td>
                            <td> {{ item["Number of screens"] }}  </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
</div>
    </div>


    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("mainTable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>



        {% endblock %}
