{% extends "base.html" %}
{% block title %}Campaign Delivery Revenue extractor {% endblock %}
{% block content %}
<h1>Campaign extractor</h1>
<hr>
<form method="POST">
    <div id="loading">
        <br />
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        </div>
    <div id="content">
        <h3>Select date range for the report</h3>
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- Date input -->
                  <label class="control-label" for="date">Date from</label>
                  <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- Date input -->
                  <label class="control-label" for="date1">Date till</label>
                  <input class="form-control" id="date1" name="date1" placeholder="YYYY-MM-DD" type="text" />
                </div>
              </div>
            </div>
          </div>
          
          
        <br />
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h4>Select Proposals statuses</h4>
                <div class="form-check param">
                  <input class="form-check-input" type="checkbox" value="1" name="Live" id="Live" checked>
                  <label class="form-check-label" for="Live">
                    Live
                  </label>
                </div>
                <div class="form-check param">
                  <input class="form-check-input" type="checkbox" value="1" name="Submitted" id="Submitted" checked>
                  <label class="form-check-label" for="Submitted">
                    Submitted
                  </label>
                </div>
                <div class="form-check param">
                  <input class="form-check-input" type="checkbox" value="1" name="Booked" id="Booked" checked>
                  <label class="form-check-label" for="Booked">
                    Booked
                  </label>
                </div>
                <div class="form-check param">
                  <input class="form-check-input" type="checkbox" value="1" name="Ended" id="Ended" checked>
                  <label class="form-check-label" for="Ended">
                    Ended
                  </label>
                </div>
                <br />
              </div>
              <div class="col-md-6">
                <h4>Additional options:</h4>
                <div class="form-check param">
                  <input class="form-check-input" type="checkbox" value="1" name="Allocation_Stats" id="flexCheckChecked">
                  <label class="form-check-label" for="flexCheckChecked">
                    Allocation statistics
                  </label>
                </div>
              </div>
            </div>
            <br />
            
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="width: 40%; height: 50px;" onclick="loading();">Generate</button>
              </div>
            </div>
          </div>
          
</form>




{% endblock %}