{% extends "base.html" %}
{% block title %}Campaign Delivery toolkit Home {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="0.1">{% endblock %}
{% block content %}
<h1>Campaign Extractor</h1>
<hr>
<h2>Extracting Live data from Brodsign this might take 5-10 mins.</h2>
<br>
<form method="POST">


    <div class="progress" style="height: 20px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{session.get("proposal_progress")}}%;" aria-valuenow="{{session.get("proposal_done")}}" aria-valuemin="0" aria-valuemax="{{session.get("proposal_total_numbers")}}">{{session.get("proposal_done")}} out of {{session.get("proposal_total_numbers")}}</div>
    </div>





</form>
<br />
<br />



    {% endblock %}
