{% extends "base.html" %}
{% block title %}Campaign Delivery Revenue extractor {% endblock %}
{% block content %}
<h1>Campaign extractor</h1>
<hr>
<form method="POST">
    <h3>Broadsign Direct Environments</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-left">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="env" id="Prod"
                        value="https://direct.broadsign.com/">
                    <label class="form-check-label" for="env">
                        Production
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-right">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="env" id="Sandbox"
                        value="https://prod-sandbox-direct.broadsign.com/" checked>
                    <label class="form-check-label" for="env">
                        Sandbox
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="container box-shadow">

        <h3>Login</h3>
        <div class="container labal-container">
        <div class="form-group">
            <label for="email">Username</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
        </div>
    
    <br />
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" style="width: 60%;">Login</button>
          </div>
        </div>
      </div>
      
</div>
</div>
</form>
{% endblock %}