.button-container {
    text-align: center;
    padding: 20px;
   
}

.statistics-button {
    display: inline-block;
   
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background: url('statistics-image.jpg') no-repeat center;
    background-size: cover;
    transition: all 0.3s ease;
}

.logout-button {
    background: url('logout-image.jpg') no-repeat center;
    display: inline-block;
    padding: 15px 30px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background-size: cover;
    transition: all 0.3s ease;
}

.statistics-button:hover,
.logout-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tbl-container {
    max-width: fit-content;
    max-height: fit-content;
   
}


.tbl-fixed {
    overflow-x: scroll;
    overflow-y: scroll;
    height: fit-content;
    max-height: 40vh;

}

.tbl-fixed-avail-table {
    overflow-x: scroll;
    overflow-y: scroll;
    height: fit-content;
    max-height: 40vh;
    width: fit-content;
   
    


}



/* Table sort indicators */

th.sortable {

    position: sticky;
    background: #0275d8;
    color: white;
    top: 0px;
    min-width: 150px;
    cursor: pointer;
}

    th.sortable::after {
        font-family: FontAwesome;
        content: "\f0dc";
        position: absolute;
        right: 8px;
        color: #999;
    }

    th.sortable.asc::after {
        content: "\f0d8";
    }

    th.sortable.desc::after {
        content: "\f0d7";
    }

    th.sortable:hover::after {
        color: #333;
    }




#searchInput {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


#dataTable thead th {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    cursor: pointer; /* Show pointer cursor on hover */
    position: relative; /* Enable positioning for sort icons */
}

/* Sort icon placement */
#dataTable thead th::after {
    content: '\2191\2193'; /* Unicode up-down arrow characters */
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* Sort icon rotation for ascending */
#dataTable thead th.sorting_asc::after {
    content: '\2191'; /* Unicode up arrow character */
}

/* Sort icon rotation for descending */
#dataTable thead th.sorting_desc::after {
    content: '\2193'; /* Unicode down arrow character */
}


.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}